@charset "UTF-8";


.colorgree {
    color: #128431;	
	
}




.pipi {
    background-color: #DEF7AD;	
	
}

.bgtile {
    background-image: url(../images/225550475-vector-illustration-of-a-beautiful-girl-with-curly-hair-cartoon-style.jpg);	
	
	
}


.mybox6 {
    width: 200px;
    height: 200px;
    background-color: #37F6CF;
    margin-top: 11px;
}


.navbar-brand {
	background-color: #37F6CF;
	
}

.navbar-toggler  {
    background-color: #860D0F;


}

.First-page-top{
    background-color: #EDD28E;
}

.emblema-one-regular {
  font-family: "Emblema One", system-ui;
  font-weight: 400;
  font-style: normal;

}

	
.col-3 nidia {
    background-color: #924243;	
	
}

.col-3 nidib {
    background-color: #574993;	
	
}


.col-3 nidic{
    background-color: #6C8B41;
}












	
